$color-white: #fff;
$color-dark-white: #C9C9C9;

$color-black: #000;
$color-light-black: #212121;

$color-gray: #363636;
$color-dark-gray: #494949;
$color-gray-8: rgba(77, 77, 77, 0.8);
$color-gray-square: #252525;
$color-gray-gradient: linear-gradient(to right, #1D1D1D 0%, #252525 50%, #1D1D1D 100%);
